<html>
<head>
<title>Hi</title>
</head>
<body>
<% for(var j=0; j < listaGifs.length; j++ ){ %>
	<p><img width="250" src=<%= listaGifs[j].url %>>
		<br>
		<%= listaGifs[j].descripcion %>
		<hr>	
</p>
<% } %>


</body>
</html>
