<html>
<head>
<title>Hi</title>
</head>
<body>
<h1>Hello</h1>
<% for(var i=0; i < grupo.length; i++){ %>
	<p><%= grupo[i]  %></p>
<% } %>
<hr >
<% for(var j=0; j < listaGifs.length; j++ ){ %>
	<p><img src="<%= listaGifs[j].urlGif %>"></p>
<% } %>


</body>
</html>
