<!DOCTYPE html>
<html>
<head>
<title>Proyecto de Sistemas distribuidos</title>
</head>
<body>

<h1>Proyecto de Sistemas distribuidos</h1>
<ul>
	<li><a href="cache/">Top 10 (con cache) </a></li>
	<li><a href="sinCache/">Top 10 (Solo Mysql) </a></li>
</ul>

<h3>Integrantes</h3>
<p>
	Jamil Nagua<br />
	Luis Zuniga <br />
	Jorge Encalada
</p>
</body>
</html>
